@background-color-selected: #CFD2D9;

@success-background: #292;
@success-text: #434343;
@warning-background: #fc3;
@warning-text: #434343;
@error-background: #c33;
@error-text: #434343;
@info-background: #eee;
@info-text: #434343;

@text-default: #030303;
@text-active: #434343;

@extra-large: 140em;
@large: 100em;
@medium: 80em;
@small: 60em;

@active-tab-border: #B0AFB0;
@tab-border: #9E9D9E;

@mac-gradient: linear-gradient(to bottom, #D5D4D5, #CCCBCD);
@tab-gradient: linear-gradient(to bottom, #BFBEC0, #B7B6B7 );
@tab-gradient-active: @mac-gradient;
@overlay: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.2));
@button-gradient: linear-gradient(to bottom, rgba(255,255,255,.1), rgba(0,0,0,0));
@button-highlight: rgba(255,255,255,.2);
@button-shadow: rgba(0,0,0,.2);

@tool-panel-background-color: #b0b0b0;

@import "styles/atom";
@import "styles/utilities";
@import "styles/text";
@import "styles/git";
@import "styles/sites";
@import "styles/lists";
@import "styles/messages";
@import "styles/progress";
@import "styles/overlays";
@import "styles/editor";
@import "styles/tabs";
@import "styles/tooltip-select";
@import "styles/tree-view";
//@import "styles/button-highlight";


body{ // reset font-size from the standard 14px Atom is using to something easier to manage
    font-size: 10px;
}

.inline-block{
	margin-right: 1em;
}

.mini{
	padding-left: 1em;
}
.icon{
	display: inline-block;
}

.status-bar{
  border-top: 1px solid @active-tab-border;
	background-image: @mac-gradient;
}

/* XXX This is now in syntax theme not in ui-theme
.atom-text-editor{
	background: #fff;
  color: @text-default;
	padding: 0 .2em;
}
.block{
	.atom-text-editor{
		padding: 0 .75em;
	}
}
*/

.section{
	.section-heading{
		color: red;
	}
}
